<!DOCTYPE html>
<html>
<head>
<title>User Management System</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="main-container">

<h1>User Management System</h1>

<div class="grid">

<div class="card">
<h2>Register</h2>
<form action="/create" method="post">

<label>Username</label>
<input type="text" name="username" placeholder="Enter username" required>

<label>Password</label>
<input type="password" name="password" placeholder="Enter password" required>

<button class="btn blue">Register</button>

</form>
</div>


<div class="card">
<h2>Login</h2>

<form action="/login" method="post">

<label>Username</label>
<input type="text" name="username" placeholder="Enter username" required>

<label>Password</label>
<input type="password" name="password" placeholder="Enter password" required>

<button class="btn green">Login</button>

</form>

</div>


<div class="card">

<h2>Update Password</h2>

<form action="/update" method="post">

<label>Username</label>
<input type="text" name="username" placeholder="Username" required>

<label>New Password</label>
<input type="password" name="password" placeholder="New password" required>

<button class="btn orange">Update</button>

</form>

</div>


<div class="card">

<h2>Delete User</h2>

<form action="/delete" method="post">

<label>Username</label>
<input type="text" name="username" placeholder="Username" required>

<button class="btn red">Delete</button>

</form>

</div>


<div class="card full">

<h2>Users</h2>

<a href="/users" class="btn purple">Show All Users</a>

</div>

</div>

</div>

</body>
</html>